<form [formGroup]="textFilterForm">
  <div class="input-group col-md-12 mt-2 p-0">
    <input formControlName="search_text" id="filterLexicalEntry" #filter  (keyup)="treeText.treeModel.filterNodes(filter.value)" name="search_text" type="text" class="form-control"
      placeholder="Search" />
    <!-- <div class="input-group-append">
      <span class="input-group-text loading_icon_append" id="basic-addon2">
        <div class="spinner-border spinner-border-sm m-1" role="status" *ngIf="searchIconSpinner">
          <span class="sr-only">Loading...</span>
        </div>
      </span>
    </div> -->
    <div id="buttons-container" class="input-group-append">
      <!-- <button class="btn btn-sm btn-secondary btn-block filter-button" type="button" value="Filter" title="Filter"
        data-toggle="collapse" data-target="#metadataFilterCollapse" aria-expanded="false"
        aria-controls="metadataFilterCollapse"><i class="fa fa-filter"></i></button> -->
      <button class="btn btn-sm btn-danger btn-block reset-button" type="button" value="Reset" title="Reset"
        (click)="resetFields();" style="border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;"><i
          class="fa fa-times"></i></button>
      <button class="btn btn-sm btn-block counter-button" type="button"><span
          class="font-weight-bold font-italic text-muted">{{counter}}</span></button>
    </div>
  </div>

  
</form>


<div class="col-md-12 mt-3 rounded border border-secondary tree-view">
  <p *ngIf="show">Nessun risultato</p>
  <tree-root #treeText [nodes]="nodes" [options]="options" [focused]="true" (activate)="onEvent($event)"
    (moveNode)="onMoveNode($event)">
    <ng-template #treeNodeTemplate let-node let-index="index">

      <div *ngIf="node.data.rename_mode" class="input-group">
        <input autofocus #renameNodeInput class="form-control" type="text" [value]="node.data.name"
          (keyup)="onRenamingNode($event, node, renameNodeInput.value)"
          style="height: 22px; border-right: transparent;" />
        <div class="input-group-append input-tooltip" data-toggle="tooltip" data-placement="top" data-html="true"
          title="Click enter to rename; Click ESC to exit">
          <span class="input-group-text"><i class="fas fa-question"></i></span>
        </div>
        <div class="input-group-append">
          <span class="input-group-text loading_icon_append">
            <div class="spinner-border spinner-border-sm m-1" role="status" *ngIf="searchIconSpinner_input">
              <span class="sr-only">Loading...</span>
            </div>
          </span>
        </div>
      </div>
      <div *ngIf="!node.data.rename_mode">
        <i class="far fa-folder" *ngIf="node.data.type == 'directory' && !node.isExpanded"></i>
        <i class="far fa-folder-open" *ngIf="node.data.type == 'directory' && node.isExpanded"></i>
        <i class="far fa-file-alt" *ngIf="node.data.type == 'file'"></i>
        <span [contextMenu]="basicMenu" [contextMenuSubject]="node.data">
          {{ node.data.name }}
        </span>
      </div>

    </ng-template>
  </tree-root>
  <context-menu>

    <!-- FOLDER CONTEXT MENU -->
    <ng-template contextMenuItem let-item [visible]="isFolder " (execute)="triggerUploader($event.item)">
      Add File
    </ng-template>
    <ng-template contextMenuItem divider="true" [visible]="isFolder"></ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolder " (execute)="createNewFile($event.item)">
      Create new empty File
    </ng-template>
    <ng-template contextMenuItem divider="true" [visible]="isFolder"></ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolder " (execute)="addFolder($event.item)">
      Add Folder
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolder " [enabled]="noRoot"
      (execute)="removeFolder($event.item)">
      Delete Folder
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolder " [enabled]="noRoot" (execute)="renameNode($event.item)">
      <span>Rename Folder</span> <!-- (click)="renameFolderModel.show();" -->
    </ng-template>

    <ng-template contextMenuItem let-item [visible]="multipleSelection" (execute)="copyElements()">
      Copy Elements
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolderMultiple" (execute)="pasteElements($event.item)">
      Paste Elements
    </ng-template>
    <ng-template contextMenuItem divider="true" [visible]="multipleSelection"></ng-template>
    <ng-template contextMenuItem let-item [visible]="multipleSelection" (execute)="removeElements()">
      Delete Elements
    </ng-template>


    <!--     <ng-template contextMenuItem divider="multipleSelection" [visible]="multipleSelection"></ng-template>
 -->
    <!-- FILE CONTEXT MENU -->
    <ng-template contextMenuItem let-item [visible]="isFile" (execute)="copyFile($event.item)">
      Copy File
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFolder && selectedFileToCopy != null"
      (execute)="pasteFile($event.item)">
      Paste File
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFile" (execute)="renameNode($event.item)">
      <span>Rename File</span> <!-- (click)="renameFileModel.show();" -->
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFile"
      (execute)="removeTextModal.show('ciao'); storeTempDeleteFile($event.item)">
      Delete File
    </ng-template>
    <ng-template contextMenuItem divider="isFile" [visible]="isFile"></ng-template>
    <ng-template contextMenuItem let-item [visible]="isFile" (execute)="downloadFile($event.item)">
      Download File
    </ng-template>
    <ng-template contextMenuItem let-item [visible]="isFile " (execute)="triggerFileMetadataUploader($event.item)">
      Update Document (metadata only)
    </ng-template>

    <!-- <ng-template contextMenuItem [visible]="enableMetadata" divider="true"></ng-template> -->
    <!-- METADATA -->
    <!-- <ng-template contextMenuItem let-item [visible]="enableMetadata"  (execute)="populateMetadata($event.item)">
      <span (click)="editMetadata.show();">Edit Metadata</span>
    </ng-template> -->
    <!-- <ng-template contextMenuItem let-item  [visible]="enableMetadata" (execute)="copyFile($event.item)">
      <span (click)="removeMetadataModal.show();"> Delete Metadata</span>
    </ng-template> -->
  </context-menu>
</div>

<app-modal #removeTextModal class="languages_modal">
  <ng-container class="app-modal-header">Language Manager</ng-container>
  <ng-container class="app-modal-body">
    <div class="card">
      <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2">
          <label for="inputLabel" class="col-lg-12 col-form-label" style="font-size: 12px; text-align: center">If you delete this text you will lose ALL linked annotations. Are you sure to delete this file?
          </label>
        </div>
        <div class="form-group row ml-2 mt-3 mr-2 justify-content-md-center">
          <div class="input-group col-lg-5 justify-content-md-center" style="align-items: center; text-align: center;">
            <div class="input-group-append ml-2">
              <button class="btn btn-success" type="button" (click)="removeFile(); removeTextModal.hide()"><i
                  class="fas fa-check"></i></button>
            </div>
            <div class="input-group-append ml-2">
              <button class="btn btn-danger" type="button" (click)="deleteTempData(); removeTextModal.hide()"><i
                  class="fas fa-times"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </ng-container>
</app-modal>
<input #uploadFile type="file" onclick="this.value = null" accept=".xml" hidden (change)="addFile($event)" multiple>
<input #updateFileMetadata type="file" onclick="this.value = null" accept=".xml" hidden (change)="updateFileMetadataHandler($event)">

<!-- <app-modal #renameFolderModel class="add_languages_modal">
  <ng-container class="app-modal-header"></ng-container>
  <ng-container class="app-modal-body">
    <div class="card">
      <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2">
          <label for="inputLabel" class="col-lg-5 col-form-label" style="font-size: 12px;">Rename Folder:</label>
          <div class="input-group col-lg-7" style="align-items: center;">
            <input type="text" class="form-control" placeholder="" #renameFolderInput>
            <div class="input-group-append ml-2">
              <button class="btn btn-success" type="button" (click)="renameFolder(renameFolderInput.value);"><i
                  class="fas fa-check"></i></button>
            </div>
            
            <div class="invalid-feedback" [hidden]="validName" style="display: block; font-size: 9px;">
              Please, insert at least three characters.
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-modal>

<app-modal #renameFileModel class="add_languages_modal">
  <ng-container class="app-modal-header"></ng-container>
  <ng-container class="app-modal-body">
    <div class="card">
      <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2">
          <label for="inputLabel" class="col-lg-5 col-form-label" style="font-size: 12px;">Rename File:</label>
          <div class="input-group col-lg-7" style="align-items: center;">
            <input type="text" class="form-control" placeholder="" #renameFileInput>
            <div class="input-group-append ml-2">
              <button class="btn btn-success" type="button" (click)="renameFile(renameFileInput.value);"><i
                  class="fas fa-check"></i></button>
            </div>
          
            <div class="invalid-feedback" [hidden]="validName" style="display: block; font-size: 9px;">
              Please, insert at least three characters.
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-modal> -->

<app-modal #editMetadata class="add_languages_modal" [inViewport]="true" (closeModal)="onCloseModal()">
  <ng-container class="app-modal-header"></ng-container>
  <ng-container class="app-modal-body">
    <form [formGroup]="metadataForm">
      <div class="form-group row ml-2 mt-3 mr-2 justify-content-between">
        <button class="btn btn-primary" (click)="addMetadata()">Add Metadata <i class="fas fa-plus"></i></button>
        <button class="btn btn-success" (click)="saveMetadata()"
          [disabled]="!metadataForm.touched || !metadataForm.valid">Save Metadata <i class="fas fa-plus"></i></button>
      </div>

      <div class="card">
        <div class="card-body">
          <div formArrayName="metadata_array">
            <div *ngFor="let metadata_item of metadataForm.get('metadata_array')['controls']; let i = index">
              <div [formGroupName]="i">



                <div class="d-flex my-2">
                  <div class="col-md-5">
                    <input formControlName="key" name="key" type="text" class="form-control"
                      placeholder="Insert metadata key">
                    <div class="invalid-feedback" [hidden]="!metadata_item.get('key').invalid"
                      style="display: block; font-size: 9px;">

                      <span *ngIf="!metadata_item.get('key').hasError('duplicate')">
                        Invalid field
                      </span>
                      <span *ngIf="metadata_item.get('key').hasError('duplicate')">
                        Duplicate field
                      </span>
                    </div>
                  </div>
                  <div class="input-group col-md-7">
                    <input formControlName="value" name="value" type="text" class="form-control"
                      placeholder="Insert metadata value">

                    <div class="input-group-append ml-2">
                      <button class="btn btn-danger" type="button" (click)="removeMetadataItem(i)"
                        style="border-radius: 0.25rem;">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                    <div class="invalid-feedback" [hidden]="!metadata_item.get('value').invalid"
                      style="display: block; font-size: 9px;">
                      Invalid field
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row ml-2 mt-3 mr-2"
              *ngIf="metadataForm.get('metadata_array')['controls'].length == 0">
              <label for="inputLabel" class="col-lg-5 col-form-label font-italic" style="font-size: 12px;">No
                metadata</label>
            </div>

          </div>

        </div>
      </div>
    </form>

  </ng-container>
</app-modal>

<app-modal #removeMetadataModal class="remove_languages_modal" [inViewport]="true"
  (closeModal)="onCloseRemoveMetadata()">
  <ng-container class="app-modal-header"></ng-container>
  <ng-container class="app-modal-body">
    <div class="card">
      <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2">
          <label for="inputLabel" class="col-lg-12 col-form-label" style="font-size: 12px; text-align: center">Are you
            sure to delete the metadata of {{selectedFileToCopy?.name}}?</label>
        </div>
        <div class="form-group row ml-2 mt-3 mr-2 justify-content-md-center">
          <div class="input-group col-lg-5 justify-content-md-center" style="align-items: center; text-align: center;">
            <div class="input-group-append ml-2">
              <button class="btn btn-success" type="button" (click)="deleteMetadata(); removeMetadataModal.hide()"><i
                  class="fas fa-check"></i></button>
            </div>
            <div class="input-group-append ml-2">
              <button class="btn btn-danger" type="button" (click)="removeMetadataModal.hide()"><i
                  class="fas fa-times"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-modal>