$font-size-input: 12px;

.form-control {
  font-size: $font-size-input;
}

#filterLexicalEntry {
  border-right: none;
}

#filterLexicalEntry:hover,
#filterLexicalEntry:focus,
#filterLexicalEntry:active{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
  border-color: #ccc;
}

.loading_icon_append {
  height: 32px;
  background-color: white;
  border-left: none;
}

.tree-view {
  padding-top: 15px;
  position: relative; // so that .modal & .modal-backdrop gets positioned relative to it
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.lang {
  color: blue;
}

/* .node-wrapper {
  justify-content: space-between;
} */

.icons-container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 25%;
}

.reset-button,
.filter-button,
.popover-dismiss,
.counter-button {
  margin: 0;
  font-size: 10px;
}

.counter-button {
  background-color: white;
}

.counter-button:hover {
  
  background-color: unset;
  border-color: unset;
  border: none;
}

.counter-button:focus {
  border: none;
  border-color:white;
  box-shadow: none;
}



input {
  margin-top: 0;
}

.custom-control-label::before {
  top: 0;
}

.custom-switch .custom-control-label::after {
  top: calc(.25rem + -2px);
}

.canonicalForm {
  font-weight: 800;
}

.btn {
  transition: none !important;
}