<div class="row h-100">

  <!-- USER LIST -->
  <div class="col-lg-3 pb-3">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex align-items-center">
          Users
        </div>
        <button #button_create type="button" class="btn btn-primary btn-sm" (click)="createNewUser()" data-toggle="list"
          href="#user-detail" role="tab" aria-controls="home"><i class="fas fa-plus-square"></i> Create</button>

      </div>
      <div class="card-body">

        <!-- SEARCH BAR -->
        <div class="input-group">
          <span class="input-group-prepend">
            <div class="input-group-text bg-transparent border-right-0"><i class="fa fa-search"></i></div>
            <!-- <button class="btn btn-secondary btn-block filter-button" type="button" value="Filter" title="Filter"
              data-toggle="collapse" data-target="#filterUserCollapse" aria-expanded="false"
              aria-controls="filterUserCollapse"><i class="fa fa-filter"></i></button> -->
          </span>
          <input class="form-control py-2 border-left-0 border" type="text" id="example-search-input"
            (keyup)="triggerSearch($event)">
        </div>

        <!-- <div class="collapse multi-collapse" id="filterUserCollapse">
          <div class="form-group row mt-3 ">
            <label for="inputLabel" class="col-lg-3 col-form-label">Roles:</label>
            <div class="input-group col-lg-9">
              <ng-select [multiple]="true" [(ngModel)]="filterSelectedRoles" [ngModelOptions]="{standalone: true}">
                <ng-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div> -->


        <!-- USER-LIST -->
        <div class="list-group mt-2 user-list" id="list-tab" role="tablist" #user_list>
          <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
            id="users-list" data-toggle="list" href="#user-detail" role="tab" aria-controls="home"
            *ngFor="let usr of users" (click)="userDetail(usr.id)">
            {{usr.username}}
            <span class="badge badge-primary badge-pill" *ngIf="usr.haveRoles != undefined">
              <div class="d-flex justify-content-between align-items-center">
                <i class="fas fa-user-cog m-2" *ngIf="usr.ADMIN"></i>
                <i class="fas fa-user-lock m-2" *ngIf="usr.USER"></i>
                <i class="fas fa-user-edit m-2" *ngIf="usr.EDITOR"></i>
                <i class="fas fa-user-check m-2" *ngIf="usr.REVIEWER"></i>
              </div>
            </span>
          </a>
        </div>

      </div>
      <!-- <div class="card-footer text-muted">
        2 days ago
      </div> -->
    </div>
  </div>

  <!-- USER DETAILS -->


  <div class="col-lg-9 pb-3" [hidden]="!isPopulated">
    <div class="card h-100">
      <div class="card-header d-flex justify-content-between">
        <div class="d-flex align-items-center">
          User details
        </div>

      </div>
      <div class="card-body">

        <div class="tab-content h-100" id="nav-tabContent">
          <div class="tab-pane fade h-100" id="user-detail" role="tabpanel" aria-labelledby="users-list">

            <form [formGroup]="userDetailForm" class="h-100 d-flex flex-column">
              <div class="form-group row ml-2 mt-3 mr-2" *ngIf="!creationRequest">
                <label for="inputLabel" class="col-lg-3 col-form-label">ID:</label>
                <div class="input-group col-lg-9">
                  <input id="id" formControlName="id" name="id" type="text" class="form-control" placeholder=""
                    disabled>
                  <!-- <div class="invalid-feedback" style="display: block;">
                        Please, insert at least three characters.
                    </div> -->
                </div>
              </div>

              <!-- {{creationRequest}} -->
              <div class="form-group row ml-2 mt-3 mr-2">
                <label for="inputLabel" class="col-lg-3 col-form-label">Username:</label>
                <div class="input-group col-lg-9">
                  <input id="username" formControlName="username" name="username" type="text" class="form-control"
                    placeholder="" *ngIf="!creationRequest" disabled>
                  <input id="username" formControlName="username" name="username" type="text" class="form-control"
                    placeholder="" *ngIf="creationRequest">
                  <div class="invalid-feedback" style="display: block;" *ngIf="userDetailForm.get('username').invalid">
                        Please insert at least 4 characters
                    </div>
                </div>
              </div>

              <div class="form-group row ml-2 mt-3 mr-2">
                <label for="inputLabel" class="col-lg-3 col-form-label">Email:</label>
                <div class="input-group col-lg-9">
                  <input id="email" formControlName="email" name="email" type="text" class="form-control" 
                    placeholder="">
                  <div class="invalid-feedback" style="display: block;" *ngIf="userDetailForm.get('email').invalid">
                        Please, insert a valid email address.
                    </div>
                </div>
              </div>

              <div class="form-group row ml-2 mt-3 mr-2">
                <label for="inputLabel" class="col-lg-3 col-form-label">Password:</label>
                <div class="input-group col-lg-9">
                  <input id="password" formControlName="password" name="password" type="password" class="form-control"
                    placeholder="">
                  <div class="invalid-feedback" style="display: block;" *ngIf="userDetailForm.get('password').invalid">
                        Please, insert at least 8 characters.
                    </div>
                </div>
              </div>

              <div class="form-group row ml-2 mt-3 mr-2">
                <label for="inputLabel" class="col-lg-3 col-form-label">Repeat password:</label>
                <div class="input-group col-lg-9">
                  <input id="repeat_password" formControlName="repeat_password" name="repeat_password" type="password"
                    class="form-control" placeholder="">
                  <div class="invalid-feedback" style="display: block;"  *ngIf="userDetailForm.get('repeat_password').invalid">
                        Password not matching.
                    </div>
                </div>
              </div>

              <div class="form-group row ml-2 mt-3 mr-2">
                <label for="inputLabel" class="col-lg-3 col-form-label">Roles:</label>
                <div class="input-group col-lg-9">
                  <ng-select [multiple]="true" formControlName="roles" (change)="markAsTouched()" [(ngModel)]="selectedRoles" > <!-- [ngModelOptions]="{standalone: true}" -->
                    <ng-option *ngFor="let role of roles" [value]="role.name">{{role.name}}</ng-option>
                    <!-- <ng-option [value]="'custom'">Custom</ng-option> -->
                  </ng-select>
                </div>
              </div>

              <div class="form-group row ml-2 mt-3 mr-2">
                <label for="inputLabel" class="col-lg-3 col-form-label">Enabled:</label>
                <div class="custom-control custom-switch col-lg-9" style="padding-left: 3.25rem !important;">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="enabled"
                    name="enabled">
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </div>
              <div class="form-group row ml-2 mt-auto mr-2">
                <div class="col-lg-3">
                  <button type="button" class="btn btn-danger" (click)="open(deleteModal)" *ngIf="!creationRequest && !itsMe">Delete User</button>
                </div>
                
                <!-- <label for="inputLabel" class="col-lg-3 col-form-label">Enabled:</label> -->
                <!-- <div class="custom-control custom-switch col-lg-9" style="padding-left: 3.25rem !important;">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="enabled"
                    name="enabled">
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div> -->
              </div>

              <div>
                <!-- {{userDetailForm.value | json}} -->
                <!-- {{initialValues.value}} -->
                <!-- {{userDetailForm.valid | json}}
                {{findInvalidControls() | json}} -->
                
              </div>
            </form>

          </div>
        </div>

      </div>
      <div class="card-footer text-muted d-flex justify-content-end">
        <button class="btn btn-primary mr-2" [disabled]="userDetailForm.invalid || userDetailForm.pristine" (click)="registerUser()" *ngIf="creationRequest">
          <i class="fas fa-save"></i> 
          Register
        </button>
        <button class="btn btn-primary mr-2" [disabled]="userDetailForm.invalid || userDetailForm.pristine" (click)="updateUser()" *ngIf="!creationRequest">
          <i class="fas fa-save"></i> 
          Update
        </button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()" [disabled]="!creationRequest || !userDetailForm.touched"><i class="fas fa-times"></i> Cancel</button>
      </div>
    </div>
  </div>

</div>


<ng-template #deleteModal let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Wizard</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
      Are you sure to delete this user?
  </div>
      
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" >No</button>
      <button type="button" class="btn btn-outline-dark" (click)="deleteUser()">Yes</button>
  </div>  
  
     
  
</ng-template>