

<div class="card">
    <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2 showall" *ngIf="annotationArray.length != 0">
            <button class="btn btn-light btn-lg" (click)="showAllAnnotations()" title="Show all annotations"><i
                    class="fas fa-eye"></i></button>
        </div>
    
        <div class="form-group row ml-2 mt-3 mr-2" *ngIf="object != null && object.length != 0">
            <h6>Linker</h6>
        
        </div>
        
        <div class="form-group row ml-2 mt-3 mr-2 empty" *ngIf="isEmptyFile">
            <h6 class="mr-2">Add attestation</h6>
        
            <button #button_modal="ngbPopover" type="button" class="btn btn-outline-secondary token mb-2"  container="body"  popoverTitle="Pop title" 
            [autoClose]="'outside'" [ngbPopover]="tokenPopover" [placement]="'bottom'"  popoverClass="token_modal" (click)="triggerEmptySearch()">
            <i class="fa fa-plus"></i>
            </button>
        
            <ng-template #tokenPopover>
        
                <div class="card">
                    <div class="card-header">
                        <p>Add a form:</p>
                       
                    </div>
                    <div class="card-body">
                        <app-search-form [bind]="bind" #search_form></app-search-form>
                        
                      
                    </div>
        
                </div>
        
        
            </ng-template>
        
        </div>
        
        
        
        <form [formGroup]="epigraphyForm" *ngIf="object != null && object.length != 0">
        
            <div class="form-group row ml-2 mt-3 mr-2 panel">
        
                <div *ngFor="let token of object; let i = index" class="panel-body">
                    <!-- {{multiWordMode && (token.text == '' || token.text == '.' || token.text == ':')}} -->
                    <span #span_modal="ngbPopover" 
                        [attr.position]="token.position"
                        [ngClass]="{'unselectable': !token.selected, 'selected' : token.selected, 'editing' : token.editing}"
                        class="token token-{{i}} p-2" style="display: block" container="body" [triggers]="manual"
                        [placement]="'bottom'" [popoverTitle]="token.value" [animation]="false" [autoClose]="'outside'"
                        [disablePopover]="multiWordMode || (token.text == '' || token.text == '.' || token.text == ':')" [ngbPopover]="tokenPopover" (mouseenter)="enterCell($event, i)"
                        (mouseleave)="leavingCell($event, i)" popoverClass="token_modal"
                        (mousedown)="deleteSelection(span_modal, $event, i)" (mouseup)="triggerBind(span_modal, $event, i);">
                        {{token.text}}
                    </span>
        
        
        
        
                    <!-- ################## POPOVER TEMPLATE ################# -->
                    <ng-template #tokenPopover>
                       
        
                        <div class="card">
                            <div class="card-header">
                                <p>Add a form:</p>
                               
                            </div>
                            <div class="card-body">
                                <app-search-form [bind]="bind" #search_form></app-search-form>
                                
        
                            </div>
        
                        </div>
        
        
                    </ng-template>
                </div>
        
        
            </div>
        
        
        
        </form>
    </div>
    
</div>



<div class="card mt-2" *ngIf="leidenLines.length != 0">
    <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2" *ngIf="object != null && object.length != 0">
            <h6>Inscription</h6>
        </div>
        
        <div class="form-group row ml-2 mt-3 mr-2 leiden_raw p-2" *ngIf="object != null && object.length != 0" style="font-family: 'NewAthena';">
            <ol class="pl-3">
                <li *ngFor="let line of leidenLines; let i = index">
                    {{line}}
                </li>
            </ol>
        </div>
    </div>
</div>


<div class="card mt-2" *ngIf="translation_array.length != 0">
    <div class="card-body">
        <div class="form-group row ml-2 mt-3 mr-2" *ngIf="object != null && object.length != 0">
            <h6>Translation</h6>
        </div>
        
        <div class="form-group row ml-2 mt-3 mr-2 leiden_raw p-2" *ngIf="object != null && object.length != 0">
            <div class="row align-items-baseline">
                <div class="col-6 border-right">
                   {{translation_array[0]}}
                </div>
                <div class="col-6">
                    {{translation_array[1]}}
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div class="form-group row ml-2 mt-3 mr-2 panel" *ngIf="object != null && object.length != 0">

    <span class="token overflow-auto p-2">{{textEpigraphy}}</span>
</div> -->

<!-- <div class="form-group row ml-2 mt-3 mr-2 panel" *ngIf="object != null && object.length != 0">
    <h5>Leiden:</h5>
</div> -->

<!-- <div [innerHTML]="htmlLeiden" class="form-group row ml-2 mt-3 mr-2 p-2 panel leiden_raw">
        
</div> -->

