

<div class="card">
    <div class="card-header" id="bibliographyHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center collapsed" data-toggle="collapse"
                data-target="#bibliographyCollapse" aria-expanded="true" aria-controls="bibliographyCollapse">
                Bibliography Panel
                <span *ngIf="countElement > 0">&nbsp;({{countElement}})</span>
                <i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <div id="bibliographyCollapse" class="collapse" aria-labelledby="bibliographyHeading">

        <div class="card-body">
            <div id="accordion">
            <!----- FORM ----->
            <form [formGroup]="bibliographyForm" *ngIf="object!=null"> <!--  -->
                <div formArrayName="bibliography">
                    <div *ngFor="let biblio of bibliographyForm['controls'].bibliography['controls']; let i = index">
                        <div [formGroupName]="i">
                            <div class="form-group row ml-2 mt-3 mr-2">
                                <div class="input-group col-xl-12 p-0">
                                    
                                    <div class="card">
                                        <a class="biblioCollapse" data-toggle="collapse" [attr.data-target]="'#collapse-'+i" aria-expanded="true" [attr.aria-controls]="'#collapse-'+i"><span class="text-id pointer"><b>{{biblio.get("author").value}} - {{biblio.get("date").value}} ({{biblio.get("title").value != undefined ? (biblio.get("title").value | slice:0:10) +'...' : ''}})</b></span></a>
                                        <span *ngIf="bibliographyData != undefined" class="icons-container">
                                            <!-- {{bibliographyData[i]['url'] | json}} -->
                                            <span><a target="_blank" class="pointer text-primary" (click)="synchronizeBibliography(biblio.get('id').value, i)"><span class="synchro-icon"><i class="fas fa-sync-alt" *ngIf="!loadingSynchro[i]"></i> <i class="fas fa-sync fa-spin" *ngIf="loadingSynchro[i]"></i></span></a></span>
                                            <span ><a href="https://www.zotero.org/groups/2552746/prin_italia_antica/items/{{bibliographyData[i]['id']}}/library" target="_blank" class="pointer text-primary"><span class="external-icon"><i class="fas fa-external-link-alt"></i></span></a></span>
                                            <span><a *ngIf="bibliographyData[i]['url'] != ''" [href]="bibliographyData[i]['url']" target="_blank" class="pointer text-primary"><span class="download-icon"><i class="fas fa-download"></i></span></a></span>
                                        </span>
                                        
                                        <a class="pointer" (click)="removeItem(i)"><span class="trash-icon"><i class="fa fa-trash text-danger"></i></span></a> 
                                        
                                        <div [id]="'collapse-'+i" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="form-group row ml-2 mr-2 mb-0">
                                                    <label for="inputLabel" class="col-lg-4 col-form-label">Title:</label>
                                                    <div class="input-group col-lg-8 pl-0">
                                                        <input id="title" formControlName="title" name="title" type="text" class="form-control" placeholder="" disabled>
                                                    </div>
                                                </div>           
                                                <div class="form-group row ml-2 mr-2 mb-0">
                                                    <label for="inputLabel" class="col-lg-4 col-form-label">Author:</label>
                                                    <div class="input-group col-lg-8 pl-0">
                                                        <input id="author"  formControlName="author" name="author" type="text" class="form-control" placeholder="" disabled>
                                                    </div>
                                                </div>   
                                                <div class="form-group row ml-2 mr-2 mb-0">
                                                    <label for="inputLabel" class="col-lg-4 col-form-label">Date:</label>
                                                    <div class="input-group col-lg-8 pl-0">
                                                        <input id="date"  formControlName="date" name="date" type="text" class="form-control" placeholder="" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row ml-2 mr-2">
                                                    <label for="inputLabel" class="col-lg-4 col-form-label">Note:</label>
                                                    <div class="input-group col-lg-8 pl-0">
                                                        <!-- <input id="note"  formControlName="note" name="note" type="text" class="form-control" placeholder=""> -->
                                                        <textarea (keyup)="debounceKeyup($event, i, 'note')" formControlName="note" name="note" class="form-control" style="resize: none;"></textarea>
                                                    </div>
                                                </div>  
                                                <div class="form-group row ml-2 mr-2">
                                                    <label for="inputLabel" class="col-lg-4 col-form-label">Page(s):</label>
                                                    <div class="input-group col-lg-8 pl-0">
                                                        <!-- <input id="note"  formControlName="note" name="note" type="text" class="form-control" placeholder=""> -->
                                                        <textarea (keyup)="debounceKeyup($event, i, 'label')" formControlName="textualReference" name="textualReference" class="form-control" style="resize: none;"></textarea>
                                                    </div>
                                                </div>     
                                            </div>
                                        </div>                                            
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
           
        </div>
    </div>
</div>