$font-size: 12px;

.card,
.btn {
    font-size: $font-size;
}

.card-header {
    padding: 0;
}

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

a {
    text-decoration: none !important;
}

.fa {
    margin-top: 2px;
}
// Required
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


.row {
    align-items: center;
}

.btn{
    font-size: 12px;
    //height: 32px;
    height: 38px;
    border-radius: .25rem !important;
}

.form-control {
    font-size: 11px;
    height: 22px;
}

textarea.form-control{
    height: auto;
}



.form-check-input {
    margin-top: .55rem;
}


.card {
    width: 100%;
}

.card-body {
    padding: 0.5rem 0 0 0 !important;
}

.biblioCollapse{
   height: 18px !important;
}



.collapse-icon {
    position: absolute;
    right: 4px;
    top: -16px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 5px;
    font-size: 16px;
}

.badge {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

.resizeNgSelect {
    width: 15%;
}

.dropdown-item {
    font-size: 12px;
}

.disabled {
    color: #dfdfdf;
    pointer-events: none;
}


.row {
    align-items: center;
}

.btn{
    height: 38px;
    border-radius: .25rem !important;
}

.form-control {
    font-size: 12px;
}

.btn {
    font-size: 12px;
    height: 32px;
}

.form-check-input {
    margin-top: .55rem;
}


#accordion {
    width: 100%;
}

.rotate {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}


.synchro-icon {
    position: absolute;
    right: 52px;
    top: -14px;
    background: white;
    text-align: center;
    color: #212529;
    padding: 5px 5px;
    font-size: 14px;
}


.download-icon {
    position: absolute;
    right: 52px;
    top: -14px;
    background: white;
    text-align: center;
    color: #212529;
    padding: 5px 5px;
    font-size: 14px;
}

.external-icon {
    position: absolute;
    right: 28px;
    top: -14px;
    background: white;
    text-align: center;
    color: #212529;
    padding: 5px 5px;
    font-size: 14px;
}

.trash-icon {
    position: absolute;
    right: 6px;
    top: -14px;
    background: white;
    text-align: center;
    color: #212529;
    padding: 5px 5px;
    font-size: 14px;
}

.text-id {
    position: absolute;
    left: 10px;
    top: -12px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 10px;
    font-size: 12px;
}

.badge {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

.resizeNgSelect {
    width: 15%;
}