

<div class="container-fluid">
	<div class="row" >
		<div class="col-md-9">
			<app-lexicon-panel></app-lexicon-panel>
		</div>
		<div class="col-md-3 ">
			<div class="container-fluid p-1">
				<div id="accordion" #accordion>
					<app-note-panel [noteData]="notes"></app-note-panel>
					<app-link-panel [linkData]="link"></app-link-panel>
					<app-bibliography-panel [biblioData]="bibliography" id="bibliographyPanel"></app-bibliography-panel>
					<app-attestation-panel [attestationData]="attestation"></app-attestation-panel>
					<app-metadata-panel [metadataData]="metadata"></app-metadata-panel>
				</div>
			</div>
		</div>
	</div>
</div>