@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


.col-md-3 {
    padding-left: 0;
    padding-right: 0;
}

#accordion {
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    overflow-x: hidden;
}

/* .container-fluid{
    height: calc(100vh - 6.4rem);
} */