

<form [formGroup]="formCore" *ngIf="object != null">
    <div class="form-group row ml-2 mt-3 mr-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>INHERITANCE</b></span>
                <div class="card-body">
                    <div class="d-flex my-2" formArrayName="inheritance"
                        *ngFor="let inher of formCore.get('inheritance')['controls']; let i = index">
                        <div class="col-lg-3" [formGroupName]="i">
                            <span class="col-form-label">{{inher.value['trait']}}</span>
                        </div>
                        <div class="input-group col-lg-7 col-md-12" [formGroupName]="i">

                            <input formControlName="value" name="value" type="text" class="form-control" placeholder=""
                                [value]="inher.value['value']" readonly>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputType" class="col-lg-3 col-form-label">Type:</label>
        <div class="col-lg-7 input-group">
            <select formControlName="type" name="type" class="form-control" (change)="onChangeType($event)">
                <option *ngFor="let type of typesData" [selected]="object.type === type['valueId']">{{type['valueId'] }}
                </option>
            </select>
            <div class="input-group-append ml-2">
                 <button class="btn btn-secondary type-tooltip" type="button" data-toggle="tooltip"
                data-placement="top" data-trigger="hover" [attr.data-original-title]="typeDesc"
                    style="font-size: 12px; border-radius: .25rem;"><i class="fas fa-question"></i></button>
            </div>
        </div>
    </div>
    
    <div class="form-group row ml-2 mt-3 mr-2" *ngIf="{confidence : formCore.get('confidence').value >= 0}; let variable">
        <div class="col-lg-3">
            <span class="col-form-label">Uncertain</span>
        </div>
        <div class="col-lg-3 input-group">
            <input *ngIf="variable.confidence" id="attributes"  step="0.1" formControlName="confidence" name="confidence" type="number" min="0" max="1" class="form-control" placeholder="No info" [value]="formCore.get('confidence').value">
            <button type="button" class="btn btn-secondary btn-sm ml-2" *ngIf="!variable.confidence" (click)="variable.confidence = !variable.confidence"><i class="fas fa-plus"></i></button>
            <button type="button" class="btn btn-secondary btn-sm ml-2" *ngIf="variable.confidence" (click)="variable.confidence = !variable.confidence; applyUncertain()"><i class="fas fa-minus"></i></button>
        </div>
    </div>

    <div class="form-group row ml-2 mt-3 mr-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>OTHER REPRESENTATION</b></span>
                <a class="pointer" (click)="addLabel()" [ngClass]="{no_pointer: disableAddOther}"><span class="collapse-icon"><i
                            class="fa fa-plus-square"></i></span></a>
                <div class="card-body">
                    <div class="d-flex my-3" *ngFor="let def of staticOtherDef; let i = index">
                        <div class="col-md-4">
                            <label class="col-form-label">{{def['trait']}}</label>
                        </div>
                        <div class="input-group col-md-8">
                            <input type="text" class="form-control"
                                placeholder="" (keyup)="debounceKeyupExisting($event, i)" [value]="def['value']">
                            <div *ngIf="def['trait'] != 'writtenRep'" (click)="removeLabel(i)" class="input-group-append ml-2"> <button
                                    class="btn btn-danger" type="button"
                                    style="font-size: 12px; border-radius: .25rem;"><i
                                        class="fa fa-trash-alt"></i></button>
                            </div>
                            <div class="invalid-feedback" *ngIf="staticOtherDef[i]['value'] == ''" style="display: block;">
                                Please, don't leave this field blank
                            </div>

                        </div>
                    </div>
                    <div class="d-flex my-2" formArrayName="label"
                        *ngFor="let l of formCore.get('label')['controls']; let i = index">
                        <div class="col-md-4" [formGroupName]="i" *ngIf="i + 1 > staticOtherDef.length">
                            <select class="form-control selectTrait" formControlName="propertyID" name="propertyID"
                                style="font-size: 12px;" (change)="onChangeLabelTrait($event, i)">
                                <option value="">Select a trait...</option>
                                <option *ngFor="let ld of labelData" [selected]="l.value['propertyID'] === ld"
                                    [disabled]="memoryLabel.indexOf(ld) > -1">{{ld}}</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="l.get('propertyID').invalid" style="display: block;">
                                Please, don't leave this field blank
                            </div>
                        </div>
                        <div class="input-group col-md-8" [formGroupName]="i" *ngIf="i + 1 > staticOtherDef.length">
                            <input formControlName="propertyValue" name="propertyValue" type="text" class="form-control"
                                placeholder="" (keyup)="debounceKeyup($event, i)">
                            <div (click)="removeLabel(i)" class="input-group-append ml-2"> <button
                                    class="btn btn-danger" type="button"
                                    style="font-size: 12px; border-radius: .25rem;"><i
                                        class="fa fa-trash-alt"></i></button>
                            </div>
                            <div class="invalid-feedback" *ngIf="l.get('propertyValue').invalid" style="display: block;">
                                Please, don't leave this field blank
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="form-group row ml-2 mt-3 mr-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>MORPHOLOGY</b></span>
                <a class="pointer" (click)="addMorphoTraits()" [ngClass]="{no_pointer: disableAddMorpho}"><span class="collapse-icon"><i
                            class="fa fa-plus-square"></i></span></a>
                <div class="card-body">

                    <div class="d-flex my-3" *ngFor="let stat of staticMorpho; let i = index">
                        
                        <div class="col-md-4"> <!-- *ngIf="stat['trait'] != 'partOfSpeech'" -->
                            <label class="col-form-label">{{stat['trait']}}</label>
                        </div>
                        <div class="input-group col-md-8">
                            <select class="form-control selectTrait" style="font-size:12px;"
                                (change)="onChangeExistingValue($event, i)">
                                <option *ngFor="let item of valueTraits[i];"
                                    [selected]="stat['value'] === item.valueId">{{item.valueId}}</option>
                            </select>
                           
                            <div class="input-group-append ml-2">
                                <button *ngIf="formCore['controls'].morphoTraits?.value[i] != null" class="btn btn-secondary trait-tooltip" type="button" data-toggle="tooltip"
                                data-placement="top" data-trigger="hover" [attr.data-original-title]="formCore.get('morphoTraits').at(i).get('description').value"
                                    style="font-size: 12px; border-radius: .25rem;"><i class="fas fa-question"></i></button>
                            </div>
                            <div (click)="removeElement(i)" class="input-group-append ml-2"> <button
                                    class="btn btn-danger" type="button"
                                    style="font-size: 12px; border-radius: .25rem;"><i
                                        class="fa fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                    
                    <div>

                    </div>
                    
                    <div class="d-flex" formArrayName="morphoTraits"
                        *ngFor="let morpho of formCore.get('morphoTraits')['controls']; let i = index">
                        <div class="col-md-4 my-2" [formGroupName]="i" *ngIf="i + 1 > staticMorpho.length">
                            <select class="form-control selectTrait" formControlName="trait" name="trait"
                                style="font-size: 12px;" (change)="onChangeTrait($event, i)">
                                <option value="">Select a trait...</option>
                                <option *ngFor="let mt of morphologyData"
                                    [selected]="morpho.value['trait'] === mt.propertyId"
                                    [disabled]="memoryTraits.indexOf(mt.propertyId) > -1">{{mt.propertyId}}</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="morpho.get('trait').invalid" style="display: block;">
                                Please, don't leave this field blank
                            </div>
                        </div>
                        <div class="input-group col-md-8 my-2" [formGroupName]="i" *ngIf="i + 1> staticMorpho.length">
                            <select class="form-control selectTrait" formControlName="value" name="value"
                                style="font-size:12px;" (change)="onChangeValue(i)">
                                <option value="">Select a value...</option>
                                <option *ngFor="let item of valueTraits[i];" [attr.data-index]="i"
                                    [selected]="morpho.value['value'] === item.valueId">{{item.valueId}}</option>
                            </select>

                            <div (click)="removeElement(i)" class="input-group-append ml-2"> <button
                                    class="btn btn-danger" type="button"
                                    style="font-size: 12px; border-radius: .25rem;"><i
                                        class="fa fa-trash-alt"></i></button>
                            </div>
                            <div class="invalid-feedback" *ngIf="morpho.get('value').invalid" style="display: block;">
                                Please, don't leave this field blank
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>