



<div id="cardsAccordion" class="accordion" [hidden]="object == null">
    <div class="card my-2">
        <div class="card-header">
            <h5 class="mb-0 w-100 d-flex justify-content-between align-self-center">
                <div>
                    <span class="btn" *ngIf="object != null">
                        <!-- <span *ngIf="isLexicalEntry">
                            Lexical Entry
                        </span>
                        <span *ngIf="isSense">
                            Sense
                        </span>
                        <span *ngIf="isForm">
                            Form
                        </span> -->
                        <!-- CREATED BY {{creator}} ON {{creationDate | date :'dd/MM/yyyy hh:mm:ss'}} -->
						{{name}}
                    </span>
                </div>
                <div>
                   <!--  <div class="spinner-border spinner-border-sm m-1" role="status" *ngIf="searchIconSpinner">
                        <span class="sr-only">Loading...</span>
                    </div> -->
                    <!-- <button class="btn btn-link" *ngIf="isLexicalEntry" (click)="removeElementModal.show()">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-link" *ngIf="isForm" title="delete form" (click)="removeElementModal.show()">
                        <i class="fa fa-trash"></i>
                    </button>
                    <button class="btn btn-link" *ngIf="isSense" title="delete sense"
                        (click)="removeElementModal.show()">
                        <i class="fa fa-trash"></i>
                    </button> -->
                    <!-- <button class="btn btn-link" (click)="changeStatus()" *ngIf="isLexicalEntry">
                        <i class="fa fa-circle" [hidden]="lock!=0" style="color: red"></i>
                        <i class="fa fa-circle" [hidden]="lock!=1" style="color: yellow"></i>
                        <i class="fa fa-circle locked-tooltip" [hidden]="lock!=2" data-toggle="tooltip"
                            data-placement="bottom" data-html="true" title="Locked tooltip" style="color:green;"></i>
                    </button> -->
                </div>
            </h5>
        </div>
        <div #expanderEpigraphy [@slideInOut]="exp_trig" class="card-body epigraphy-tab-body">
            
            <div id="epigraphyTabModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
			<app-epigraphy-form [epiData]="epigraphyData"></app-epigraphy-form>
            <!-- <app-lexical-entry-core-form [lexData]="lexicalEntryData" *ngIf="isLexicalEntry">
            </app-lexical-entry-core-form>
            <app-form-core-form [formData]="formData" *ngIf="isForm"></app-form-core-form>
            <app-sense-core-form [senseData]="senseData" *ngIf="isSense"></app-sense-core-form>
            <app-lexical-concept-form [lexicalConceptData]="lexicalConceptData" *ngIf="isLexicalConcept">
            </app-lexical-concept-form> -->
        </div>
        <div class="card-footer text-muted">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <!-- <div *ngIf="object != null">
                    <span>LAST UPDATE ON {{lastUpdateDate | date :'dd/MM/yyyy hh:mm:ss'}}</span>
                </div> -->
                <!-- <div class="btn-group dropup dropleft">
                    <button class="btn btn-success" type="button" id="dropdownAddLemma" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i class="fas fa-plus"></i> </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownAddLemma">
                        <button class="dropdown-item" title="add new form" (click)="addNewForm()">Add Form</button>
                        <button class="dropdown-item" (click)="addNewSense()">Add Sense</button>
                        <button class="dropdown-item" (click)="addNewEtymology()">Add Etymology</button>
                        <button class="dropdown-item" (click)="showBiblioModal()">Add Bibliography</button>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>