<form [formGroup]="coreForm" *ngIf="object != null">
    <div *ngIf="{etymon : coreForm.get('type').value == 'Etymon'}; let variable">
        <div class="form-group row m-2">
            <label for="inputLabel" class="col-lg-3 col-form-label">Label:</label>
            <div class="input-group col-lg-7">
                <input id="label" formControlName="label" name="label" type="text" class="form-control" placeholder=""
                    required>

                <div class="invalid-feedback" *ngIf="emptyLabelFlag" style="display: block;">
                    Please, insert at least two characters.
                </div>
            </div>
        </div>
        <!-- <div class="form-group row m-2">
            <div class="col-lg-3">
                <div class="form-check p-0">
                    <label class="form-check-label" for="gridCheck1">
                        Etymon
                    </label>
                    <input [checked]="coreForm.get('type').value == 'Etymon'" class="form-check-input" style="margin-left: 10px;" type="checkbox" id="gridCheck1" onchange="document.getElementById('typeSelect').disabled = checked;" (change)="variable.etymon = !variable.etymon; isEtymon(variable.etymon);">
                </div>
            </div>
        </div> -->

        <div class="form-group row m-2">
            <div class="col-lg-3">
                <label class="" for="sw">Etymon</label>
            </div>
            <div class="col-lg-9">
                <div class="custom-control custom-switch d-inline" id="sw">
                    <input type="checkbox" class="custom-control-input" id="edit_extra_block" name="extra_block"
                        value="" [checked]="coreForm.get('type').value == 'Etymon'" style="margin-left: 10px;"
                        onchange="document.getElementById('typeSelect').disabled = this.checked;"
                        (change)="variable.etymon = !variable.etymon; isEtymon(variable.etymon);">
                    <label class="custom-control-label" for="edit_extra_block"></label>
                </div>
            </div>
        </div>

        <div class="form-group row m-2">
            <div class="col-lg-3">
                <label for="uncertainBox">Uncertain</label>
            </div>

            <div class="col-lg-3 input-group uncertain">
                <input formControlName="confidence" name="confidence" type="checkbox"
                    [checked]="coreForm.get('confidence').value">
                <!-- <input *ngIf="variable.confidence" id="attributes"  step="0.1" formControlName="confidence" name="confidence" type="number" min="0" max="1" class="form-control" placeholder="No info" [value]="coreForm.get('confidence').value">
                <button type="button" class="btn btn-secondary btn-sm ml-2" *ngIf="!variable.confidence" (click)="variable.confidence = !variable.confidence"><i class="fas fa-plus"></i></button>
                <button type="button" class="btn btn-secondary btn-sm ml-2" *ngIf="variable.confidence" (click)="variable.confidence = !variable.confidence; applyUncertain()"><i class="fas fa-minus"></i></button> -->
            </div>
        </div>

        <div class="form-group row m-2" *ngIf="!variable.etymon">
            <div class="col-lg-3 col-form-label">
                <label for="inputType">Type:</label>
            </div>
            <div class="col-lg-9 input-group">
                <select id="typeSelect" class="form-control" formControlName="type">
                    <option *ngFor="let lx of lexEntryTypesData" [value]="lx['valueId']"
                        [selected]="coreForm.get('type').value.split('#')[1] == lx['valueId'].split('#')[1]">
                        {{lx['valueLabel']}}
                    </option>
                </select>
                <div class="input-group-append ml-2">
                    <button *ngIf="!variable.etymon" class="btn btn-secondary type-tooltip" type="button"
                        placement="top" container="body" [ngbTooltip]="typeDesc"
                        style="font-size: 12px; border-radius: .25rem;"><i class="fas fa-question"></i></button>
                    <button *ngIf="variable.etymon" class="btn btn-secondary type-tooltip" type="button"
                        data-toggle="tooltip" data-placement="top" data-trigger="hover"
                        title="Etymon' is a subclass of Lexical Entry that consists of individuals whose role is to describe the origin and history of another Lexical Entry."
                        style="font-size: 12px; border-radius: .25rem;"><i class="fas fa-question"></i></button>
                </div>
                <div class="input-group-append ml-2">
                    <button [style.visibility]="coreForm.get('isCognate').value ? 'visible' : 'hidden'"
                        class="btn btn-warning type-tooltip" type="button" data-toggle="tooltip" data-placement="top"
                        data-trigger="hover"
                        title="In linguistics, cognates, also called lexical cognates, are words that have a common etymological origin."
                        style="font-size: 12px; border-radius: .25rem;">Cognate</button>
                </div>
            </div>
        </div>
        <div class="form-group row m-2">
            <label for="inputLanguage" class="col-lg-3 col-form-label">Language:</label>
            <div class="col-lg-7">
                <select formControlName="language" name="language" class="form-control"
                    (change)="onChangeLanguage($event)">
                    <option value="">Select language....</option>
                    <option *ngFor="let la of languages" [value]="la['label'].toLowerCase()"
                        [selected]="object.language.toLowerCase() == la['label'].toLowerCase()">{{la['label']}}
                    </option>
                </select>
                <div class="invalid-feedback" *ngIf="coreForm.get('language').value == ''" style="display: block;">
                    Please, don't leave this field blank
                </div>
            </div>
        </div>
    </div>


    <!-- MORPHOLOGY -->
    <div class="form-group row m-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>MORPHOLOGY</b></span>
                <a class="pointer" (click)="addMorphoTraits()" [ngClass]="{no_pointer: disableAddMorpho}"><span
                        class="collapse-icon"><i class="fa fa-plus-square"></i></span></a>
                <div class="card-body">
                    <div class="d-flex my-3">
                        <div class="col-md-4">
                            <label for="selectPos" class="col-form-label">Part of speech:</label>
                        </div>
                        <div class="input-group col-md-8">
                            <select class="form-control selectTrait" style="font-size:12px;"
                                (change)="onChangePos($event)">
                                <option value="">Select a value...</option>
                                <option *ngFor="let item of valuePos;"
                                    [selected]="item.valueId.split('#')[1] == object.pos" [value]="item.valueId">
                                    {{item.valueLabel}}</option>
                            </select>
                            <div class="input-group-append ml-2">
                                <button class="btn btn-secondary pos-tooltip" type="button" placement="top"
                                    container="body" [ngbTooltip]="posDescription"
                                    style="font-size: 12px; border-radius: .25rem;"><i
                                        class="fas fa-question"></i></button>
                            </div>

                            <div class="invalid-feedback" *ngIf="!coreForm.get('pos').valid" style="display: block;">
                                Please, don't leave this field blank
                            </div>

                        </div>
                    </div>


                    <ng-container *ngFor="let stat of staticMorpho; let i = index">
                        <div class="d-flex my-3"
                            *ngIf="stat['trait'] != 'http://www.lexinfo.net/ontology/3.0/lexinfo#partOfSpeech'">
                            <div class="col-md-4">
                                <label class="col-form-label">{{stat['trait'].split('#')[1]}}</label>
                            </div>
                            <div class="input-group col-md-8">
                                <select class="form-control selectTrait" style="font-size:12px;"
                                    (change)="onChangeExistingValue($event, i)">
                                    <option *ngFor="let item of valueTraits[i];"
                                        [selected]="stat['value'] === item.valueId" [value]="item.valueId">
                                        {{item.valueLabel}}</option>
                                </select>
                                <div class="input-group-append ml-2">
                                    <button *ngIf="coreForm['controls'].morphoTraits?.value[i] != null"
                                        class="btn btn-secondary trait-tooltip" type="button" placement="top"
                                        container="body"
                                        [ngbTooltip]="coreForm.get('morphoTraits').at(i).get('description').value"
                                        style="font-size: 12px; border-radius: .25rem;"><i
                                            class="fas fa-question"></i></button>

                                </div>
                                <div (click)="removeElement(i)" class="input-group-append ml-2"> <button
                                        class="btn btn-danger" type="button"
                                        style="font-size: 12px; border-radius: .25rem;"><i
                                            class="fa fa-trash-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container formArrayName="morphoTraits"
                        *ngFor="let morpho of coreForm.get('morphoTraits')['controls']; let i = index">
                        <div class="d-flex my-2" *ngIf="i + 1 > staticMorpho.length">
                            <div class="col-md-4" [formGroupName]="i">
                                <select class="form-control selectTrait" formControlName="trait" name="trait"
                                    style="font-size: 12px;" (change)="onChangeTrait($event, i)">
                                    <option value="">Select a trait...</option>
                                    <option *ngFor="let mt of morphologyData"
                                        [selected]="morpho.value['trait'] === mt.propertyId" [value]="mt.propertyId"
                                        [disabled]="memoryTraits.indexOf(mt.propertyId) > -1 || mt.propertyId == 'http://www.lexinfo.net/ontology/3.0/lexinfo#partOfSpeech'">
                                        {{mt.propertyLabel}}</option>
                                </select>
                                <div class="invalid-feedback" *ngIf="morpho.get('trait').invalid"
                                    style="display: block;">
                                    Please, don't leave this field blank
                                </div>
                            </div>
                            <div class="input-group col-md-8" [formGroupName]="i">
                                <select class="form-control selectTrait" formControlName="value" name="value"
                                    style="font-size:12px;" (change)="onChangeValue(i)">
                                    <option value="">Select a value...</option>
                                    <option *ngFor="let item of valueTraits[i];" [attr.data-index]="i"
                                        [selected]="morpho.value['value'] === item.valueId" [value]="item.valueId">
                                        {{item.valueLabel}}</option>
                                </select>
                                <div (click)="removeElement(i)" class="input-group-append ml-2"> <button
                                        class="btn btn-danger" type="button"
                                        style="font-size: 12px; border-radius: .25rem;"><i
                                            class="fa fa-trash-alt"></i></button>
                                </div>
                                <div class="invalid-feedback" *ngIf="morpho.get('value').invalid"
                                    style="display: block;">
                                    Please, don't leave this field blank
                                </div>
                            </div>
                        </div>

                    </ng-container>



                </div>
            </div>
        </div>
    </div>

    <div class="form-group row m-2 mt-3">
        <label for="inputLabel" class="col-lg-3 col-form-label">Stem type:</label>
        <div class="input-group col-lg-7">
            <input id="stemType" formControlName="stemType" name="stemType" type="text" class="form-control"
                placeholder="Insert Stem Type..." required>
            <!-- <div class="invalid-feedback" *ngIf="emptyLabelFlag" style="display: block;">
                Please, insert at least three characters.
            </div> -->
        </div>
    </div>


    <div class="form-group row m-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>EVOKES</b></span>
                <a class="pointer" (click)="addEvokes()" [ngClass]="{no_pointer: disableAddEvokes}"><span
                        class="collapse-icon"><i class="fa fa-plus-square"></i></span></a>
                <div class="card-body">
                    <div class="form-group row m-2" formArrayName="evokes"
                        *ngFor="let evoke of coreForm.get('evokes')['controls']; let i = index">
                        <div class="input-group col-xl-12" [formGroupName]="i" >
                           
                            <ng-select #select_evokes formControlName="label" name="label" [dropdownPosition]="'top'"
                                (keyup)="triggerEvokes($event, i)" (change)="handleEvokes(select_evokes, i)"
                                [items]="searchResults" bindValue="defaultLabel"  (focus)="deleteData()" bindLabel="defaultLabel"
                                placeholder="Search lexical concept" appendTo="body" [clearable]="false"
                                >
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                    <div>
                                        <span>{{item.defaultLabel}} </span><span style="color: blue;">@{{item.language}}</span>
                                    </div>

                                </ng-template>

                                
                            </ng-select>
                            <!-- <input formControlName="entity" name="entity" type="text"
                                [value]="evoke.get('entity').value" class="form-control" placeholder="Insert URI"
                                (keyup)="handleEvokes($event, i)" *ngIf="variable.switch"> -->
                            <!-- <div class="input-group-append ml-2" *ngIf="evoke.get('entity').value != ''">
                                <a [href]="evoke.get('entity').value" target="_blank" class="btn btn-primary"
                                    type="button"><i class="fa fa-external-link-alt"></i></a>
                            </div> -->
                            <div class="input-group-append ml-2">
                                <button (click)="removeEvokes(i)" class="btn btn-danger" type="button"><i
                                        class="fa fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row ml-2 mt-3 mr-2" *ngIf="isMultiword">
        <div class="input-group col-xl-12">
            <div class="card">
                <span class="text-id"><b>SUBTERM</b></span>
                <a class="pointer" (click)="addSubterm()"><span class="collapse-icon"
                        [class.disabled]="disableAddSubterm"><i class="fa fa-plus-square"></i></span></a>
                <!-- <a class="pointer" (click)="removeSubterm(i)"><span class="trash-icon"><i class="fa fa-trash"></i></span></a> -->
                <div class="card-body">



                    <!-- SUB-TERM -->
                    <div formArrayName="subterm" class="col-xl-12">
                        <div *ngFor="let sub of coreForm['controls'].subterm['controls']; let i = index">
                            <div [formGroupName]="i" class="d-xl-flex" style="align-items: center;">
                                <div class="form-group row ml-2 mt-2 mr-2 w-100">
                                    <div class="input-group">
                                        <ng-select #select_subterm formControlName="label" name="label"
                                            [dropdownPosition]="'top'" (keyup)="triggerSubterm($event)"
                                            (change)="handleSubterm(select_subterm, i)" [items]="searchResults"
                                            bindValue="label" (focus)="deleteData()" bindLabel="label"
                                            placeholder="Search lexical entries" appendTo="body">
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div>
                                                    <span>{{item.label}} </span><span
                                                        style="color: blue;">@{{item.language}}</span>
                                                </div>

                                            </ng-template>
                                        </ng-select>

                                        <!-- <div class="input-group-append ml-2">
                                            <button class="btn btn-primary" type="button"><i
                                                    class="fa fa-external-link-alt"></i></button>
                                        </div> -->
                                        <div class="input-group-append ml-2">
                                            <button (click)="removeSubterm(i)" class="btn btn-danger" type="button"><i
                                                    class="fa fa-trash-alt"></i></button>
                                        </div>
                                        <!--  <div class="input-group-append ml-2">
                                            <button  class="btn btn-outline-primary invisible" type="button"><i class="fa fa-plus"></i></button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row m-2">
        <div class="input-group col-lg-12">
            <div class="card">
                <span class="text-id"><b>COGNATES</b></span>
                <a class="pointer" (click)="addCognates()" [ngClass]="{no_pointer: disableAddCognates}"><span
                        class="collapse-icon"><i class="fa fa-plus-square"></i></span></a>
                <div class="card-body">
                    <div class="form-group row m-2" formArrayName="cognates"
                        *ngFor="let cog of coreForm.get('cognates')['controls']; let i = index">
                        <div class="input-group col-xl-12" [formGroupName]="i" *ngIf="{switch : false}; let variable">
                            <!-- {{variable.switch}}
                            {{cog.get('lila').value}} -->
                            <ng-select #select_cognates formControlName="label" name="label" [dropdownPosition]="'top'"
                                (keyup)="triggerCognates($event, i)" (change)="handleCognates(select_cognates, i)"
                                [items]="searchResults" bindValue="label" (focus)="deleteData()" bindLabel="label"
                                placeholder="Search cognates" appendTo="body"
                                *ngIf="!variable.switch || cog.get('lila').value && cog.get('type').value == 'internal'">
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm"
                                    *ngIf="!cog.get('lila').value">
                                    <div>
                                        <span>{{item.label}} </span><span style="color: blue;">@{{item.language}}</span>
                                    </div>

                                </ng-template>

                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm"
                                    *ngIf="cog.get('lila').value">

                                    <div class="card-body p-0">
                                        <h6 class="card-title m-0" [ngOptionHighlight]="search">{{item.label}}</h6>
                                        <small>
                                            <span>
                                                {{item.labelPos}}
                                            </span>
                                        </small>
                                        <small class="card-text">


                                        </small>

                                    </div>

                                </ng-template>
                            </ng-select>
                            <input formControlName="entity" name="entity" type="text" [value]="cog.get('entity').value"
                                class="form-control" placeholder="Insert URI"
                                *ngIf="variable.switch  && !cog.get('lila').value" (keyup)="handleCognates($event, i)">
                            <div class="input-group-append ml-3 form-check" style="align-items: center;">
                                <input class="form-check-input cognates-tooltip" type="checkbox"
                                    (change)="variable.switch=!variable.switch" data-toggle="tooltip"
                                    data-placement="bottom" data-trigger="hover"
                                    title="Clicca per inserire un URI manualmente">
                            </div>
                            <div class="input-group-append ml-2"
                                *ngIf="cog.get('type').value == 'external' && cog.get('entity').value != ''"
                                container="body" placement="top" ngbTooltip="Open in Lila Page">
                                <a [href]="cog.get('entity').value" target="_blank" class="btn btn-info"
                                    type="button"><i class="fas fa-globe-europe"></i></a>
                            </div>
                            <div class="input-group-append ml-2"
                                *ngIf="cog.get('type').value == 'internal' && cog.get('entity').value != ''"
                                container="body" placement="top" ngbTooltip="Open in new panel">
                                <a (click)="loadCognateData(cog.get('entity').value, cog.get('lexicalEntry').value, cog.get('label').value); "
                                    class="btn btn-primary" type="button"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                            <div class="input-group-append ml-2" *ngIf="!variable.switch">
                                <div class="btn-group-toggle" data-toggle="buttons" placement="top"
                                    ngbTooltip="Enable LiLa endpoint" title="Enable LiLa endpoint">
                                    <label class="btn btn-secondary">
                                        <input type="checkbox" autocomplete="off" formControlName="lila" name="lila"
                                            style="border-radius: .3rem;">
                                        <i class="fas fa-project-diagram"></i>
                                        <!--                                       <img src="../../../../../../../assets/images/graphql.png" alt="Avatar" class="image" style="height: 20px;">
 -->
                                    </label>
                                </div>
                            </div>
                            <div class="input-group-append ml-2">
                                <button (click)="removeCognates(i)" class="btn btn-danger" type="button"><i
                                        class="fa fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- {{coreForm.value | json}} -->

<ng-template #cognatePanel></ng-template>