// Required
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

$font-size: 12px;
.btn{
    height: 38px;
    border-radius: .25rem !important;
}

.form-control {
    font-size: 12px;
}

.btn {
    font-size: 12px;
    height: 32px;
}

.card,
.btn {
    font-size: $font-size;
}
.card {
    width: 100%;
}
.card-header {
    padding: 5px 18px;
}

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

a {
    text-decoration: none !important;
}

.fa {
    margin-top: 2px;
}

#accordion {
    width: 100%;
}

.text-id {
    position: absolute;
    left: 10px;
    top: -12px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 10px;
    font-size: 12px;
}

.collapse-icon {
    position: absolute;
    right: 4px;
    top: -16px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 5px;
    font-size: 16px;
}

.badge {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

.resizeNgSelect {
    width: 15%;
}