

<form [formGroup]="seeAlsoForm">
    <div class="form-group row mt-3">
        <div class="input-group col-sm-12">
            <div class="card">
                <span class="text-id">SEE ALSO</span>
                <a (click)="addSeeAlsoEntry()" class="pointer"><span class="collapse-icon"><i
                            class="fa fa-plus-square"></i></span></a>
                <div class="card-body">

                    <div formArrayName="seeAlsoArray" class="mt-3">

                        <div *ngFor="let seeAlso of seeAlsoForm.get('seeAlsoArray')['controls']; let i = index">
                            <div [formGroupName]="i">
                                <div class="d-flex">
                                    <div class="form-group row ml-2  mr-2 w-100" *ngIf="{switch : seeAlso.get('link_type').value != 'internal'}; let variable">
                                        <div class="input-group" *ngIf="{boolean : seeAlso.get('inferred').value}; let inf">
                                            
                                            <ng-select #seeAlso formControlName="entity" name="entity"
                                                (change)="onChangeSeeAlso(seeAlso, i)" (focus)="deleteData()"
                                                (keyup)="triggerSeeAlso($event)" formControlName="entity" name="entity"
                                                bindValue="label" class="resizeNgSelect" [items]="searchResults"
                                                bindLabel="label" placeholder="Search entity" appendTo="body"
                                                *ngIf="!variable.switch && !isSense" [readonly]="inf.boolean">
                                            </ng-select>
                                            <ng-select #seeAlso formControlName="entity" name="entity"
                                                (change)="onChangeSeeAlso(seeAlso, i)" (focus)="deleteData()"
                                                (keyup)="triggerSeeAlso($event)" formControlName="entity" name="entity"
                                                bindValue="definition" class="resizeNgSelect" [items]="searchResults"
                                                bindLabel="definition" placeholder="Search entity" appendTo="body"
                                                *ngIf="!variable.switch && isSense" [readonly]="inf.boolean">
                                            </ng-select>
                                            <input formControlName="entity" name="entity" type="text"
                                                class="form-control " (keyup)="triggerSeeAlsoInput($event, i)"
                                                placeholder="Insert URI" *ngIf="variable.switch">

                                            <div class="input-group-append" *ngIf="!inf.boolean">
                                                <div class="input-group-append ml-2 form-check">
                                                    <input class="form-check-input see-also-tooltip" type="checkbox"
                                                        (change)="variable.switch=!variable.switch; variable.switch ? seeAlso.get('link_type').value = 'external' : seeAlso.get('link_type').value = 'internal'"
                                                        data-toggle="tooltip" data-placement="bottom"
                                                        data-trigger="hover"
                                                        title="Clicca per inserire un URI manualmente"
                                                        [checked]="variable.switch">
                                                    <label class="form-check-label" for="extCheck"></label>
                                                </div>
                                                <!-- <div class="input-group-append ml-2">
                                                    <button class="btn btn-primary" type="button"
                                                        (click)="modalRoot2.show()"><i
                                                            class="fa fa-external-link-alt"></i></button>
                                                    <app-modal #modalRoot2 class="modal-demo" [maximizable]="true"
                                                        [backdrop]="false">
                                                        <ng-container class="app-modal-header">Demo modal</ng-container>
                                                        <ng-container class="app-modal-body">
                                                            <h3>MODAL DIALOG</h3>
                                                            <p>Lorem Ipsum is simply dummy text of the printing and
                                                                typesetting
                                                                industry.
                                                                Lorem Ipsum has been the industry’s standard dummy text
                                                                ever
                                                                since the 1500s.</p>
                                                        </ng-container>
                                                        <ng-container class="app-modal-footer">
                                                            <button type="button" class="button button3"
                                                                (click)="modalRoot2.hide()">Delete</button>
                                                            <button type="button" class="button button1"
                                                                (click)="modalRoot2.hide()">Save</button>
                                                            <button type="button" class="button button2"
                                                                style="float: right;" (click)="modalRoot2.hide()">Close
                                                            </button>
                                                        </ng-container>
                                                    </app-modal>
                                                </div> -->
                                               <!--  <div class="input-group-append ml-2">
                                                    <button type="button" class="btn btn-secondary" placement="top" ngbTooltip="Enable LiLa endpoint" title="Enable LiLa endpoint" data-toggle="button" aria-pressed="false" autocomplete="off" style="border-radius: .5rem;">
                                                        <img src="../../../../assets/images/graphql.png" alt="Avatar" class="image" style="height: 20px;">
                    
                                                      </button>
                                                </div> -->
                                                <div class="input-group-append ml-2">
                                                    <button (click)="removeElement(i)" class="btn btn-danger"
                                                        type="button"><i class="fa fa-trash-alt"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>