$font-size: 12px;

.card,
.btn {
    font-size: $font-size;
}

.card-header {
    padding: 0;
}

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

a {
    text-decoration: none !important;
}

.fa {
    margin-top: 2px;
}