$font-size-btn: 12px;

//minus
[data-toggle="collapse"] i:before {
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before {
    content: "\f0fe";
}

.btn,
.btn-link,
.card-body,
.dropdown-menu > * {
    font-size: $font-size-btn !important;
}

.card-header {
    padding: 0;
}

.icons-container > button {
    padding: 6px 6px;
    font-size: $font-size-btn;
}

#lexicalCollapse > .card-body,
#epigraphyCollapse > .card-body,
#ontologia > .card-body {
    height: calc(100vh - 11rem);
    max-height: calc(100vh - 11rem) !important;
    overflow-y: auto !important;
    padding-right: 10px;
}
