// Required
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

$font-size: 12px;

.card,
.btn {
    font-size: $font-size;
}

.card-header {
    padding: 0;
}

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

a {
    text-decoration: none !important;
}

.fa {
    margin-top: 2px;
}


.epi_body,
.file_body{
    
    margin-top: 20px;
    padding-top: 20px;
    
    .card-body {
        min-height: 21rem;
        max-height: 21rem;
        overflow: auto;
    }
    
}

.text-id {
    position: absolute;
    left: 10px;
    top: -12px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 10px;
    font-size: 12px;
}

.edit-icon {
    position: absolute;
    right: 28px;
    top: -16px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 5px;
    font-size: 16px;
}

.trash-icon {
    position: absolute;
    right: 4px;
    top: -16px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 5px;
    font-size: 16px;
}

.badge {
    font-size: 11px;
}

.pointer {
    word-break: break-all;
    cursor: pointer;
}

table {
    table-layout: fixed!important;
}