<div class="card">
    <div class="card-header" id="metadataHeading">
        <h5 class="mb-0">
            <a class="btn btn-link w-100 d-flex align-self-center collapsed" data-toggle="collapse"
                data-target="#metadataCollapse" aria-expanded="true" aria-controls="metadataCollapse">
                Metadata Panel<i class="fa ml-auto"></i>
            </a>
        </h5>
    </div>
    <!-- {{object | json}} -->
    <div id="metadataCollapse" class="collapse" aria-labelledby="metadataHeading">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="object != null">
                <li class="nav-item">
                    <a class="nav-link active" id="edition-tab" data-toggle="tab" href="#edition" role="tab"
                        aria-controls="edition" aria-selected="true">Edition</a>
                </li>
                <li>
                    <a class="nav-link" id="epigraphy-tab" data-toggle="tab" href="#epigraphy_metadata" role="tab"
                        aria-controls="epigraphy_metadata" aria-selected="false">Epigraphy</a>
                </li>
                <li>
                    <a class="nav-link" id="other-tab" data-toggle="tab" href="#other_metadata" role="tab"
                        aria-controls="other_metadata" aria-selected="false">Text</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent" *ngIf="object != null">
                <div class="tab-pane fade show active" id="edition" role="tabpanel" aria-labelledby="file-tab">
                    <div class="card epi_body">
                        <span class="text-id">EDITION</span>
                       
                        <div class="card-body">
                            
                            <div class="container">
                                <div class="row" *ngIf="object.title != undefined || object?.title != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Title:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.title}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object['element-id'] != undefined || object['element-id'] != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Id:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object['element-id']}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object.editor != undefined || object?.editor != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Editor:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.editor}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object.authority != undefined || object?.authority != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Authority:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.authority}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object.license != undefined || object?.license != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>License:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <div class="col-12 p-0" *ngFor="let subprop of object.license | keyvalue">
                                            <a [href]="subprop?.value"  target="_blank" *ngIf="isLink(subprop?.value)">{{subprop?.value}}</a>
                                            <span *ngIf="!isLink(subprop?.value)">{{subprop?.value}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                </div>

                <div class="tab-pane fade" id="epigraphy_metadata" role="tabpanel" aria-labelledby="epigraphy-tab">
                    <div class="card epi_body">
                        <span class="text-id">EPIGRAPHY</span>
                      
                        <div class="card-body">
                           

                            <div class="container">
                                <div class="row" *ngIf="object?.itAnt_ID != undefined && object?.itAnt_ID != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>ItAnt ID:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.itAnt_ID}}</span>
                                    </div>
                                </div>
                                
                                <div class="row" *ngIf="object?.inscriptionTitle != undefined && object?.inscriptionTitle != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Inscription Title:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.inscriptionTitle}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.inscriptionType != undefined && object?.inscriptionType != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Inscription Type:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.inscriptionType}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.summary != undefined && object?.summary != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Summary:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.summary}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.trismegistos?.trismegistosID_url!= undefined">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Trismegistos ID:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <a target="_blank" [href]="'//'+object?.trismegistos?.trismegistosID_url">
                                            {{object?.trismegistos?.trismegistosID}}
                                        </a>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.traditionalIDs != undefined && object?.traditionalIDs != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Traditional IDs:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <p class="m-0" *ngFor="let other_id of object.traditionalIDs">
                                            <a target="_blank" [href]="other_id.traditionalID_URL">
                                                {{other_id.traditionalID}}
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.originalPlace != undefined && object?.originalPlace != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Original Place:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <a *ngIf="object?.originalPlace?.ancientNameUrl != ''" target="_blank"
                                            [href]="object?.originalPlace?.ancientNameUrl">
                                            {{object?.originalPlace?.ancientName}}
                                        </a> 
                                        <span *ngIf="object?.originalPlace?.ancientNameUrl == ''">
                                            {{object?.originalPlace?.ancientName}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.support?.objectType_conceptUrl != undefined && object?.support?.objectType_conceptUrl != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Original Type:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <a *ngIf="object?.support?.objectType_conceptUrl != ''" target="_blank"
                                            [href]="object?.support?.objectType_conceptUrl">
                                                    {{object?.support?.objectType}}
                                        </a> 
                                        <span *ngIf="object?.support?.objectType_conceptUrl == ''">{{object?.support?.objectType}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.condition != undefined && object?.condition != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Condition:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.condition}}</span>
                                    </div>
                                </div>
                                <div class="row" *ngIf="object?.conservationInstitution != undefined && object?.conservationInstitution != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Conservation Institution:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <a *ngIf="object?.conservationInstitution?.URL != ''" target="_blank"
                                        [href]="object?.conservationInstitution?.URL">
                                        {{object?.conservationInstitution?.name}}</a> 
                                        <span *ngIf="object?.conservationInstitution?.URL == ''">
                                            {{object?.conservationInstitution?.name}}
                                        </span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.dateOfOrigin != undefined && object?.dateOfOrigin != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Date of Origin:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.dateOfOrigin}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.dateOfOriginNotBefore != undefined && object?.dateOfOriginNotBefore != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Date of Origin not Before:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.dateOfOriginNotBefore}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.dateOfOriginNotAfter != undefined && object?.dateOfOriginNotAfter != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Date of Origin not After:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.dateOfOriginNotAfter}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.datingCertainty != undefined && object?.datingCertainty != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Dating Certainty:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.datingCertainty}}</span>
                                    </div>
                                </div>

                                
                                <div class="row" *ngIf="object?.decoration != undefined && object?.decoration != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Decoration:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.decoration}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.detailedFindSpot != undefined && object?.detailedFindSpot != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Detailed Find Spot:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.detailedFindSpot}}</span>
                                    </div>
                                </div>
                                
                                <div class="row" *ngIf="object?.discoveryYear != undefined">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Discovery Year:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span *ngFor="let sub of object?.discoveryYear| keyvalue">
                                            <p *ngIf="sub?.value != ''">
                                                <span class="text-italic">{{sub?.key}}:</span>
                                                <span *ngIf="!isLink(sub?.value)">{{sub?.value}}</span>
                                                <a [href]="sub?.value" target="_blank" *ngIf="isLink(sub?.value)">{{sub?.value}}</a>
                                            </p>
                                        </span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.layoutNotes != undefined && object?.layoutNotes != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Layout Notes:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.layoutNotes}}</span>
                                    </div>
                                </div>


                                <div class="row" *ngIf="object?.modernFindSpotName != undefined && 
                                                        object?.modernFindSpotName != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Modern Findspot Name:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <a *ngIf="object?.modernFindSpotName?.URL != ''" target="_blank"
                                        [href]="object?.modernFindSpotNameUri">
                                        {{object?.modernFindSpotName}}</a> 
                                        <span *ngIf="object?.modernFindSpotName == ''">
                                            {{object?.modernFindSpotName?.name}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="row" *ngIf="object?.opistography != undefined && object?.opistography != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Opistography:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.opistography}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.paleographicNotes != undefined && object?.paleographicNotes != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Paleographic Notes:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.paleographicNotes}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.settlement != undefined && object?.settlement != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Settlement:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <a *ngIf="object?.settlement?.placeOfConservationExternalReference != ''"
                                        target="_blank"
                                        [href]="object?.settlement?.placeOfConservationExternalReference">
                                        {{object?.settlement?.placeOfConservation}}</a> 
                                        <span *ngIf="object?.settlement?.placeOfConservationExternalReference == ''">
                                            {{object?.settlement?.placeOfConservation}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="row" *ngIf="object?.support?.material_conceptUrl != undefined && object?.support?.material_conceptUrl != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Material:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <a *ngIf="object?.support?.material_conceptUrl != ''"
                                        target="_blank"
                                        [href]="object?.support?.material_conceptUrl">
                                        {{object?.support?.material}}</a> 
                                        <span *ngIf="object?.support?.material_conceptUrl == ''">
                                            {{object?.support?.material}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="other_metadata" role="tabpanel" aria-labelledby="other-tab">
                    <div class="card epi_body">
                        <span class="text-id">TEXT</span>
                        <!-- <a href="#a"><span class="edit-icon"><i class="fa fa-edit"></i></span></a>
                        <a href="#b"><span class="trash-icon"><i class="fa fa-trash"></i></span></a> -->
                        <div class="card-body">
                            <!-- <div class="d-flex">
                                <span class="badge badge-primary">Form</span>
                            </div> -->
                            <div class="container">
                                <div class="row" *ngIf="object?.autopsy != undefined && object?.autopsy != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Autopsy:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.autopsy}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.autopsyAuthor != undefined && object?.autopsyAuthor != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Autopsy Author:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.autopsyAuthor}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.language != undefined">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Language:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span *ngFor="let sub of object?.language">
                                            <p *ngIf="sub?.source != ''">
                                                <a [href]="sub?.source" target="_blank" *ngIf="isLink(sub?.source)">{{sub?.ident}}</a>
                                            </p>
                                        </span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.bodytextpart?.ductus != undefined && object?.bodytextpart?.ductus != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Ductus:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.bodytextpart?.ductus}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.wordDivisionType != undefined && object?.wordDivisionType != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Word Division Type:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.wordDivisionType}}</span>
                                    </div>
                                </div>

                                <div class="row" *ngIf="object?.writingSystem != undefined && object?.writingSystem != ''">
                                    <div class="col-xl-4 col-lg-12 p-1">
                                        <b>Writing System:</b>
                                    </div>
                                    <div class="col-xl-8 col-lg-12 p-1">
                                        <span>{{object.writingSystem}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>