

<div class="cover-container d-flex w-100 p-3 mx-auto flex-column text-center">

    <div class="starter-template">
        <h3>Institute for Computational Linguistics (ILC)</h3>
        <p class="lead">"A. Zampolli CNR - Pisa, Italy"<br> <a href="http://www.ilc.cnr.it" target="_blank">www.ilc.cnr.it</a></p>
        <img class="logo" src="../../../assets/images/LexOIcon.png" width="100"/>
        <h5 class="title">epilexo v1.0</h5>
        
    </div>
    <footer class="mastfoot">
        <div class="inner">
          <p>Institute for Computational Linguistics "A. Zampolli", Pisa <br/> <a href="https://www.ilc.cnr.it.com/">http://ilc.cnr.it</a></p>
        </div>
    </footer>
</div>
