

<div class="card">
    <span class="text-id"><b>LANGUAGE LIST</b></span>
    <a class="pointer" (click)="addLanguageModal.show()"><span class="collapse-icon"><i
                class="fa fa-plus-square"></i></span></a>
    <div class="card-body">
        <div class="form-group row ml-3 mt-3 mr-3 mb-0">
            <table class="table table_language table-bordered  table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Label</th>
                        <th scope="col">Creator</th>
                        <th scope="col">Description</th>
                        <th scope="col">Entries</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lang of languageList; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{lang['label']}}</td>
                        <td>{{lang['creator'] != "" ? lang['creator'] : '<'+'empty'+'>'}}</td>
                        <td>{{lang['description'] != "" ? (lang['description'] | slice:0:50) +'...' : '<'+'empty'+'>'}}
                        </td>
                        <td>{{lang['entries']}}</td>
                        <td>
                            <span><button class="btn btn-primary mr-1" (click)="editLang(i); editLangModal.show()"><i
                                        class="fas fa-edit"></i></button></span>
                            <span><button class="btn btn-danger ml-1" (click)="removeLang(i); removeLangModal.show()"><i
                                        class="fas fa-trash-alt"></i></button></span>
                            <span>
                                <button class="btn btn-secondary ml-1" (click)="showLinkedLexicalEntries(i); lexEntryModal.show()" alt="show linked entries">
                                    <i class="fas fa-eye"></i>
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-modal #removeLangModal class="remove_languages_modal">
    <ng-container class="app-modal-header"></ng-container>
    <ng-container class="app-modal-body">
        <div class="card">
            <div class="card-body">
                <div class="form-group row ml-2 mt-3 mr-2">
                    <label for="inputLabel" class="col-lg-12 col-form-label" style="font-size: 12px; text-align: center">Are you sure to delete {{removeMessage}}?</label>
                </div>
                <div class="form-group row ml-2 mt-3 mr-2 justify-content-md-center">
                    <div class="input-group col-lg-5 justify-content-md-center" style="align-items: center; text-align: center;">
                        <div class="input-group-append ml-2">
                            <button class="btn btn-success" type="button" (click)="deleteLangRequest(); removeLangModal.hide()"><i
                                    class="fas fa-check"></i></button>
                        </div>
                        <div class="input-group-append ml-2">
                            <button class="btn btn-danger" type="button" (click)="removeLangModal.hide()"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-modal>

<app-modal #lexEntryModal class="lex_entry_modal">
    <ng-container class="app-modal-header"></ng-container>
    <ng-container class="app-modal-body">
        <div class="card" *ngIf="editLangArray">
            <span class="text-id"><b>LEXICAL ENTRIES</b></span>
            <!-- <a class="pointer" (click)="addLanguageModal.show()"><span class="collapse-icon"><i
                        class="fa fa-plus-square"></i></span></a> -->
            <div class="card-body">
                <textarea id="lexical-entries-linked-list" class="w-100" cols="30" rows="10" readonly [hidden]="linkedLexicalEntries == ''"></textarea>
            </div>
        </div>
    </ng-container>
</app-modal>


<app-modal #editLangModal class="edit_languages_modal" >
    <ng-container class="app-modal-header"></ng-container>
    <ng-container class="app-modal-body">
        <div class="card" *ngIf="editLangArray">
            <span class="text-id"><b>LANGUAGE EDITOR</b></span>
            <!-- <a class="pointer" (click)="addLanguageModal.show()"><span class="collapse-icon"><i
                        class="fa fa-plus-square"></i></span></a> -->
            <div class="card-body">
                <form [formGroup]="editLangForm">
                    <div *ngFor="let item of editLangArray | keyvalue">
                        <div class="form-group row ml-2 mt-3 mr-2" *ngIf="item.key == 'description' || item.key == 'label' || item.key == 'lexvo'">
                            <label for="inputLabel" class="col-lg-3 col-form-label" style="font-size: 12px;">{{item.key}}</label>
                            <div class="input-group col-lg-9" style="align-items: center;">
                                <input #inputLang type="text" class="form-control" placeholder="" [value]="item.value" [formControlName]="item.key" [name]="item.key" (keyup)="triggerEdit(item.key, inputLang.value)">
                                <div class="invalid-feedback" *ngIf="!checkEditValid(item.key)" style="display: block; font-size: 9px;">
                                    Invalid Field
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</app-modal>




<app-modal #addLanguageModal class="add_languages_modal">
    <ng-container class="app-modal-header"></ng-container>
    <ng-container class="app-modal-body">
        <div class="card">
            <div class="card-body">
                <div class="form-group row ml-2 mt-3 mr-2">
                    <label for="inputLabel" class="col-lg-5 col-form-label" style="font-size: 12px;">Insert a language
                        code (max 2-3 chars):</label>
                    <div class="input-group col-lg-7" style="align-items: center;">
                        <input #inputAddLanguage id="label" type="text" class="form-control" placeholder="" #langValue>
                        <div class="input-group-append ml-2">
                            <button class="btn btn-success" type="button" (click)="onSubmit(langValue.value); addLanguageModal.hide()"
                            [disabled]="inputAddLanguage.value.length < 2 || inputAddLanguage.value.length > 3"><i
                                    class="fas fa-check"></i></button>
                        </div>
                        <div class="spinner-border spinner-border-sm m-1" role="status" *ngIf="loadingService">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div class="invalid-feedback" *ngIf="!isValid" style="display: block; font-size: 9px;">
                            Please, insert at least three characters.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</app-modal>