

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs" id="editDictTab" role="tablist" #navtabs [ngClass]="{'disabled': object === null}">
            <li class="nav-item">
                <a class="nav-link" id="core-tab" data-toggle="tab" href="#core" role="tab" aria-controls="core" aria-selected="true">Core</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="vartrans-tab" data-toggle="tab" href="#vartrans" role="tab" aria-controls="vartrans" aria-selected="true">Vartrans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="synsem-tab" data-toggle="tab" href="#synsem" role="tab" aria-controls="synsem" aria-selected="true">Synsem</a>
            </li> -->
            <li class="nav-item" [hidden]="hideDecomp">
                <a class="nav-link" id="decomposition-tab" data-toggle="tab" href="#decomposition" role="tab" aria-controls="decomposition" aria-selected="true">Decomposition</a>
            </li>
            <li class="nav-item" [hidden]="hideEtymology">
                <a class="nav-link" id="etymology-tab" data-toggle="tab" href="#etymology" role="tab" aria-controls="etymology" aria-selected="true">Etymology</a>
            </li>
            <li class="nav-item" [hidden]="hideDictionary">
                <a class="nav-link" id="dictionary-tab" data-toggle="tab" href="#dictionary" role="tab" aria-controls="dictionary" aria-selected="false">Dictionary</a>
            </li>
            <h5 class="ml-auto mb-0">
                <a class="btn btn-link w-100 d-flex align-self-center" (click)="triggerExpansionEdit();" data-toggle="collapse" data-target="#text-dettaglio" aria-expanded="false" aria-controls="text-dettaglio">
                    <i class="fa ml-auto"></i>
                </a>
            </h5>
        </ul>
        
    </div>
    <div id="text-dettaglio" class="collapse show" aria-labelledby="headingOne" ><!--  data-parent="#epigraphy-accordion" -->
        <div class="card-body">
            <div class="tab-content" id="tab-content" #navcontent>
                <div class="tab-pane fade" id="core" role="tabpanel" aria-labelledby="core-tab">
                    <app-core-tab></app-core-tab>
                </div>
                <!-- <div class="tab-pane fade" id="vartrans" role="tabpanel" aria-labelledby="vartrans-tab">
                    <app-vartrans-tab></app-vartrans-tab>
                </div>
                <div class="tab-pane fade" id="synsem" role="tabpanel" aria-labelledby="synsem-tab">
                    <app-synsem-tab></app-synsem-tab>
                </div> -->
                <div class="tab-pane fade" id="decomposition" role="tabpanel" aria-labelledby="decomposition-tab">
                    <app-decomposition-tab></app-decomposition-tab>
                </div>
                <div class="tab-pane fade" id="etymology" role="tabpanel" aria-labelledby="etymology-tab">
                    <app-etymology-tab></app-etymology-tab>
                </div>
                <div class="tab-pane fade" id="dictionary" role="tabpanel" aria-labelledby="dictionary-tab">
                    <app-dictionary-tab></app-dictionary-tab>
                </div>
            </div>
        </div>
    </div>
   
</div>