$font-size-items: 12px;

.nav-item {
    font-size: $font-size-items;
}

.nav-tabs {
    border-bottom: none;
}

.card-header {
    padding: 0;
}

.disabled{
    pointer-events: none;

    li > a, .fa {
        color: #aeaeae;
    }
    
}

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

a, .fa {
    text-decoration: none;
    font-size: $font-size-items;
}

.fa{
    margin-top: 2px;
}

