$font-size-card-header: 12px;

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

.card-header {
    border-bottom: 0;
}

.btn,
label,
.form-control {
    font-size: $font-size-card-header;
}

.card-body {
  max-height: 25vh;
  overflow-y: auto;
}

.custom-control-label::before {
  top: 0;
}

.custom-switch .custom-control-label::after {
  top: calc(.25rem + -2px);
}