<form [formGroup]="conceptSetForm" *ngIf="object != null">
    <div class="form-group row ml-2 mt-3 mr-2">
        <label for="inputLabel" class="col-lg-3 col-form-label">Label:</label>
        <div class="input-group col-lg-7">
            <input formControlName="defaultLabel" name="defaultLabel" type="text" class="form-control" placeholder="" required>
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2" style="font-size: .75rem; font-weight: 900;">@{{object.language}}</span>
            </div>
            <div class="invalid-feedback" *ngIf="conceptSetForm.get('defaultLabel').invalid" style="display: block;">
                Invalid field.
            </div>
        </div>
    </div>
</form>