

<div class="card container-fluid">
	<div class="card-body row">
		<div class="col-md-12 text-right">
            <a href="#"><i class="fa fa-unlock fa-2x"></i></a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 dictionary-body">
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aliquam tincidunt mauris eu risus.</li>
                <li>Vestibulum auctor dapibus neque.</li>
                <li>Nunc dignissim risus id metus.</li>
                <li>Cras ornare tristique elit.</li>
                <li>Vivamus vestibulum ntulla nec ante.</li>
                <li>Praesent placerat risus quis eros.</li>
                <li>Fusce pellentesque suscipit nibh.</li>
                <li>Integer vitae libero ac risus egestas placerat.</li>
                <li>Vestibulum commodo felis quis tortor.</li>
                <li>Ut aliquam sollicitudin leo.</li>
                <li>Cras iaculis ultricies nulla.</li>
                <li>Donec quis dui at dolor tempor interdum.</li>
            </ul>
		</div>
	</div>
</div>