$font-size: 12px;

.card,
.btn {
    font-size: $font-size;
}

.card-header {
    padding: 0;
}

//minus
[data-toggle="collapse"] i:before{
    content: "\f146";
}

//plus
[data-toggle="collapse"].collapsed i:before{
    content: "\f0fe";
}

a {
    text-decoration: none !important;
}

.fa {
    margin-top: 2px;
}

// Required
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";


.row {
    align-items: baseline;
}

.btn{
    font-size: 12px;
    //height: 32px;
    height: 38px;
    border-radius: .25rem !important;
}

[id^="attestation_collapse-"] {
    .form-control {
        font-size: 11px;
        height: 22px;
    }

    textarea.form-control{
        height: auto !important;
    }
}






.form-check-input {
    margin-top: .55rem;
}


.card {
    width: 100%;
}

.card-body {
    padding: 0.5rem 0 0 0;

    max-height: 32rem;
    overflow: auto;
    
}

#attestationCollapse {

    .card-body {
        padding: 1rem !important;

        .card-body{
            padding: 0.5rem !important;
        }
    }
}

.biblioCollapse{
   height: 18px !important;
}



.collapse-icon {
    position: absolute;
    right: 4px;
    top: -16px;
    background: white;
    text-align: center;
    color: $gray-900;
    padding: 5px 5px;
    font-size: 16px;
}

.badge {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

.resizeNgSelect {
    width: 15%;
}

.dropdown-item {
    font-size: 12px;
}

.disabled {
    color: #dfdfdf;
    pointer-events: none;
}


.btn{
    height: 38px;
    border-radius: .25rem !important;
}

#addBibliographyAttestation {
    .form-control {
        font-size: 12px;
        height: unset;
    }
}


.btn {
    font-size: 12px;
    height: 32px;
}

.form-check-input {
    margin-top: .55rem;
}


#accordion {
    width: 100%;
}

.rotate {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}


.synchro-icon {
    position: absolute;
    right: 52px;
    top: -14px;
    background: white;
    text-align: center;
    color: #212529;
    padding: 5px 5px;
    font-size: 14px;
}


.download-icon {
    position: absolute;
    right: 52px;
    top: -14px;
    background: white;
    text-align: center;
    color: #212529;
    padding: 5px 5px;
    font-size: 14px;
}

.external-icon {
    position: absolute;
    right: 28px;
    top: -14px;
    background: white;
    text-align: center;
    color: #212529;
    padding: 5px 5px;
    font-size: 14px;
    z-index: 1;
}

.trash-icon {
    position: absolute;
    right: 6px;
    top: -14px;
    background: white;
    text-align: center;
    color: #dc3545!important;
    padding: 5px 5px;
    font-size: 14px;
    z-index: 1;
}

.text-id {
    position: absolute;
    left: 10px;
    top: -12px;
    background: white;
    text-align: left;
    color: $gray-900;
    padding: 5px 10px;
    font-size: 12px;
    z-index: 1;
}

.badge {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

.resizeNgSelect {
    width: 15%;
}

.biblio_modal {

    table {
        font-size: 12px;

        th, td {
            padding: 0.55rem;
        }
    }

    tbody {
        display: block;
        height: calc(100vh - 29rem);
        overflow: auto;

        i{
            width: 16px !important;
        }
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;/* even columns width , fix width of table too*/
    }

    .selected {
        background-color: #5b9bd582;
    }

    .table-body {
        position: relative;
    }

    table.table-hover tbody tr:hover {
        background-color: #5b9bd582; 
    }

    .disable_click_fire{
        pointer-events: none;
    }

    .no-results{
        height: calc(100vh - 25rem);
    }
}

.panelFormData {

    .row {
        align-items: center;
    }
    
    .btn{
        height: 38px;
        border-radius: .25rem;
    }
    
    .form-control {
        font-size: 12px;
    }
    
    .btn {
        font-size: 12px;
        height: 32px;
    }
    
    .form-check-input {
        margin-top: 0;
    }
    
    
    .card {
        margin-top: 20px;
        padding-top: 20px;
        width: 100%;
    }
    
    #accordion {
        width: 100%;
    }
    
    .text-id {
        position: absolute;
        left: 10px;
        top: -12px;
        background: white;
        text-align: center;
        color: $gray-900;
        padding: 5px 10px;
        font-size: 12px;
    }
    
    .collapse-icon {
        position: absolute;
        right: 4px;
        top: -16px;
        background: white;
        text-align: center;
        color: $gray-900;
        padding: 5px 5px;
        font-size: 16px;
    }
    
    .badge {
        font-size: 11px;
    }
    
    .pointer {
        cursor: pointer;
    }
    
    .input-group-text {
        background-color: white;
        border: none;
    }
    
    .input-group>.form-control:not(:last-child) {
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    
    .no_pointer {
        pointer-events: none;
    
        .collapse-icon{
            color: #8c8c8c;
        }
    }
}