<app-modal #formPanelModal style="top: 10%;" class="modal-demo" [maximizable]="false" [inViewport]="true"  [backdrop]="false" class="panelFormData" (closeModal)="onCloseModal(id)">
    <ng-container class="app-modal-header">{{label}}</ng-container>
    <ng-container class="app-modal-body">
       <app-form-core-form [formData]="formData"></app-form-core-form>
    </ng-container>
    <!-- <ng-container class="app-modal-footer">
        <button type="button" class="button button3"
            (click)="formPanelModal.hide()">Delete</button>
        <button type="button" class="button button1"
            (click)="formPanelModal.hide()">Save</button>
        <button type="button" class="button button2"
            style="float: right;" (click)="formPanelModal.hide()">Close
        </button>
    </ng-container> -->
</app-modal>