.row {
    align-items: center;
}

.btn{
    height: 38px;
    font-size: 12px;
    border-radius: .25rem;
}

.form-control {
    font-size: 12px;
}

.form-check-input {
    margin-top: 0;
}


.card {
    margin-top: 20px;
    padding-top: 20px;
    width: 100%;
}